/** @format */

@import "../../utilities/scss/variables.scss";
// services section
.services_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("../../../../public/images/services.jpg");
  text-align: center;
  padding: $body_margin;
  display: flex;
  flex-direction: column;
  gap: 40px;
  h4 {
    color: $green_light;
    grid-area: h4;
    justify-self: center;
    font-size: 24px;
    font-weight: 500;
  }
  h1 {
    @include medium_heading();
    color: #fff;
    grid-area: h1;
    justify-self: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    .card {
      @include card();
      background-color: #fff;
      padding: 40px;
      padding-top: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 24px;
      .icon_container {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        background-color: $green_lighter;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          font-size: 64px;
        }
      }
      h4 {
        text-align: center;
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .services_container {
    padding: 32px;
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 767px) {
  .services_container {
    padding: 24px;
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
