/** @format */

@import "../../utilities/scss/variables.scss";
//   offer section
.offers {
  padding: $body_margin;
  display: flex;
  gap: 100px;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 88px;

  .offer_header {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 48px;

    h4 {
      @include small_heading();
      color: $green_light;
    }
    h1 {
      @include medium_heading();
    }
    p {
      max-width: 500px;
    }
    button {
      @include button();
    }
  }
  .services {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    height: auto;
    .card {
      @include card();
      display: flex;
      flex-direction: row;
      gap: 16px;
      padding: 32px;

      .icon {
        font-size: 56px;
        flex: 1;
      }
      .card_text {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h4 {
          text-align: left;
        }
        p {
          text-align: left;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .offers {
    flex-direction: column;
    padding: 32px;
    .offer_header {
      align-self: flex-start;
    }
  }
}
@media screen and (max-width: 767px) {
  .offers {
    padding: 24px;
    gap: 56px;
    .offer_header {
      gap: 32px;
      h1 {
        font-size: 40px;
      }
    }
    .services {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
      .card {
        flex-direction: column;
        justify-content: center;
        height: 300px;
        .icon {
          font-size: 64px;
          flex: 1;
          align-self: center;
        }
        .card_text {
          h4 {
            text-align: center;
          }
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
